* {
    box-sizing: border-box;
    cursor: initial;
    margin: 0;
    padding: 0;
}

html {
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input {
    border: 0;
}

textarea {
    border: 0;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;

    * {
        cursor: pointer;
    }
}
